@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Ubuntu&display=swap');

h1{
    font-size: 2.5em;
    font-family: "Inconsolata", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;

    /* Image by Michael Heck from Pixabay  */
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.765);
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    border: 1px solid;
    border-radius: 14px;
    width: 225px;
    padding: 10px;
}
#date-picker{
    max-width: 50%;
    height: 30px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: aquamarine;
}
#submit-btn{
    width: 40%;
    height: 35px;
    font-size: 1.1em;
    color: white;
    border-radius: 10px;
    background: rgb(20, 169, 79);
}
#submit-btn:hover{
    background: rgb(14, 132, 61);
}
#submit-btn:active{
    border: 1px solid white;
}


.time-container{
    display: flex;
    border: 1px solid;
    border-radius: 25px;
    margin-top: 30px;
}
.time{
    font-size: 1em;
    font-family: "Inconsolata", sans-serif;
    padding: 0px 15px;
    text-align: center;
    color: greenyellow;
}
.time h2{
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: -10px;
}
.time p{
    color: white;
}